* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: JetBrains Mono, monospace;
    background-color: var(--grey);
    color: var(--text-color);
}

.priority-title {
    color: var(--text-color);
    outline-color: invert;
    background-color: transparent;
    margin-bottom: 10px;
}


/* Layout wrapper */
.layout-wrapper {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: 100vh;
}

/* Left column for adding tasks */
.left-column {
    width: 25%;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 8px;
}

#new-task {
    width: 100%;
    padding: 8px;
    font-size: 20px;
    border: 1px solid var(--muted-text-color);
    border-radius: 8px;
    resize: none;
    margin-bottom: 10px;
}

/* Right column with 4 task lists in a grid */
.right-column {
    width: 75%;
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 10px;
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
    background-color: transparent;
    height: 100%;
}

.task-list-container {
    background-color: var(--priority0);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: hidden;
}

.task-list {
    background-color: transparent;
    overflow-y: auto;
    max-height:93%;
}

#task-list-container-1 {
    background-color: var(--priority1);
}

#task-list-container-2 {
    background-color: var(--priority2);
}

#task-list-container-3 {
    background-color: var(--priority3);
}

#task-list-container-4 {
    background-color: var(--priority4);
}

.task-item {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 5px;
    background: var(--grey);
    border-radius: 12px;
    border: 1px solid var(--text-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: grab;
}

/* Spinner wrapper */
.spinner-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    border-radius: 4px;
    border: 1px solid var(--muted-text-color);
}

.spinner-wrapper::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border: 2px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.2s ease;
}

@keyframes color-change {
    0% {
        border-color: var(--priority1); 
    }
    25% {
        border-color: var(--priority2); 
    }
    50% {
        border-color: var(--priority3); 
    }
    75% {
        border-color: var(--priority4); 
    }
    100% {
        border-color: var(--priority1); 
    }
}

.spinner-wrapper.spinning::before {
    animation: color-change 0.2s infinite linear; /* Circular color-changing effect */
}

.editable {
    font-size: 16px;
    z-index: 1;
    display: block;
    width: 100%;
    border: none;
    border-radius: 4px;
    resize: none; /* Prevent resizing */
    overflow: hidden; /* Hide scrollbars */
    padding: 8px;
    box-sizing: border-box;
    background-color: var(--background-color);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}


.flip-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: var(--background-color);
    border: 2px solid #333;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
  }
  
  .flip-checkbox:checked {
    transform: rotateY(180deg);
  }
  
  .flip-checkbox::before,
  .flip-checkbox::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    backface-visibility: hidden;
    transition: all 0.3s ease;
  }
  
  .flip-checkbox::before {
    background-color: #ffffff;
  }
  
  .flip-checkbox::after {
    background-color: var(--checked);
    transform: rotateY(180deg);
  }
  
  .flip-checkbox:checked::after {
    content: '\2713';
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }