:root {
    --text-color: #000000d8;
    --muted-text-color: #777777;
    --grey: #e3e3e3;
    --background-color: #ffffff;
}

.theme1 {
    --checked: #80ff59;
    --priority0: #003049;
    --priority1: #d62828;
    --priority2: #f77f00;
    --priority3: #fcbf49;
    --priority4: #eae2b7;
}

.theme2 {
    --checked: #adff02;
    --priority0: #8f00ff;
    --priority1: #ff006d;
    --priority2: #ff7d00;
    --priority3: #ffdd00;
    --priority4: #01befe;
}

.theme3 {
    --checked: #80ff59;
    --priority0: #ec9a9a;
    --priority1: #1d3557cc;
    --priority2: #457b9d;
    --priority3: #a8dadc;
    --priority4: #dae2d8;
}

.theme4 {
    --checked: #80ff59;
    --priority0: #c9182c;
    --priority1: #386641;
    --priority2: #6a994e;
    --priority3: #a7c957;
    --priority4: #e7e3dc;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --checked: #80ff59;
        --priority0: #c9182c;
        --priority1: #386641;
        --priority2: #6a994e;
        --priority3: #a7c957;
        --priority4: #e7e3dc;
        --text-color: #ffffffe6; /* Light text color */
        --muted-text-color: #bbbbbb; /* Light muted text color */
        --grey: #2e2e2e; /* Dark grey for borders/backgrounds */
        --background-color: #1c1c1c; /* Dark background */
    }
}